.secret
  .titlebar
    .tx= link_to secret.tx, "https://blockexplorer.com/tx/#{secret.tx}"
    .time= secret.time
  .contents
    - if secret.file_path
      .file
        - if secret.file_mime.start_with?('image/')
          = image_tag secret.file_path
        - else
          = link_to "Download #{secret.file_path.split('.')[1..-1].join('.')}", secret.file_path
          (
          = number_to_human_size(secret.file_size, precision: 2)
          )
      .text
        - if secret.text
          %pre= secret.text
    - else
      .text
        %pre= secret.text
